.register {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.register__view {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.register__title {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

h1 {
    font-size: 2.8vw;
}

.register__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register__content-item {
    margin-bottom: 5vw;
    width: 100%;
}

.content-item__title {
    font-size: 1.7vw;
    font-weight: bold;
}

.content-item__input {
    width: 100%;
    height: 3.5vw;
    font-size: 1.7vw;
}

.content__button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-button__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3vw;
    margin-top: 40px;
    border: none;
    line-height: auto;
    background-color: #ff5555;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
}

.url {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.login__url {
    text-decoration: none;
    color: #6da3ce;
    font-size: large;
}