.admin {
    width: 100%;
}

.list {
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid black;
}

.list::before {
    content: "";
    display: block;
    padding-top:5%;
}

.list__item {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

.suggest {
    margin-right: 10%;
}

.my-list, .suggest {
    font-size: 1.5vw;
    border: none;
    background: none;
}

.item__list-all {
    display: flex;
    justify-content: center;
    width: 90%;
}

.item__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
}

.item {
    width: 25%;
}

.picture {
    display: flex;
    width: 90%;
    aspect-ratio: 1;
    margin-top: 10%;
}

.item__detail {
    width: 100%;
    height: 100%;
    background-color: #d0d0d0;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.item-pic {
    width: 100%;
    aspect-ratio: 1;
}


.item-name__space {
    margin-top: 5px;
}